.videoWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Keeps it behind content */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the section */
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--overlay-opacity, 0.71));
  z-index: 1;
}
